{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    "transform-object-rest-spread"
  ]
}