@import "~sanitize.css";

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
  user-select: none;
}

.container {
  font-size: 48px;
}
