.container {
  padding: 1em;
}

.header {
  margin-bottom: 1.2em;
}

.content {
  dt {
    margin-bottom: 0.2em;
    font-size: 1.4rem;
    text-transform: capitalize;

    &:after {
      content: ': ';
    }
  }

  dd {
    margin-bottom: 1em;
  }
}

.error {
  padding: 1em 0;
  color: #f00;
}
